@import url('https://fonts.googleapis.com/css2?family=Truculenta&family=Nunito:wght@400;700&display=swap');

:root {
    --primary-color: #124559;
    --secondary-color: #F0F4EF;
    --accent1-color: #598392;
    --accent2-color: #e63946;

    --heading-font: 'Nunito', sans-serif;
    --paragraph-font: 'Nunito', sans-serif;

    --nav-background-color: #F0F4EF;
    --nav-link-color: #598392;
    --nav-hover-link-color: #124559;
    --nav-hover-background-color: #E63946;
}


.header-menu {
  display: grid;
  grid-template-columns: 350px 0.9fr 1.3fr;
  align-items: center;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

nav {
	text-align:left;
}

.navigation {
  font-size: 20px;
  font-family: Arial;
  display: flex;
  list-style: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container { 
column-count: 3;
}

.navigation li {
	flex: 1;
}

.navigation a {
	display: block;
	color: navy;
	padding: 25px;
	text-decoration: none;
}

.logo {
  max-width: 100px;
}

.hero {
    position: relative;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero h1 {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 20%;
    text-align: center;
    color: white;
  }

  .hero h2{
    font-family: 'Nunito', sans-serif;
  }
  
  .hero article {
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
  }
  
  .hero article img {
    float: right;
    margin-left: 15px;
  }
  